.btn-primary {
  color: #2774AE !important; /* UCLA Blue text */
  background-color: #FFD100 !important; /* UCLA Gold background */
  border-color: #FFD100 !important;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #ffffff !important;
  background-color: #FFB300 !important; /* darker gold hover */
  border-color: #FFB300 !important;
}
